.nav-style {
  background-color: rgb(189, 122, 122);
  border-width: 8px;
  color: rgb(12, 11, 11);
  font-size: xx-large;
  max-height: 125px;
  width: 100%;
}

.home-link {
  background-color: rgb(189, 122, 122);
  color: rgb(5, 5, 5);
  float: right;
  padding-right: 15px;
}