.background {
    background: url("https://wallpapercave.com/wp/wp8476178.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
.paper-content {
    margin-top: 100px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
}