footer {
  background-color: rgb(189, 122, 122);
  bottom: 0;
  max-height: 20px;
  padding-bottom: 30px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
}

.footerItems {
  color: rgb(7, 6, 6);
  font: serif;
  font-size: 12px;
}