footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(189, 122, 122);
  border-top: solid;
  border-color: rgb(189, 122, 122);
  border-width: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  max-height: 30px;
}
.link {
  color: black;
  font-style: none;
}
.footerItems {
  padding-left: 5rem;
}
.know,
.contact,
.business {
  padding: 10px;
  margin: auto;
  color: black;
}
/* .footer {
    justify-content: center;
} */