.nav-style {
  background-color: rgb(189, 122, 122);
  color: #0c0b0b;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: xx-large;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  max-height: 125px;
  padding-left: 15px;
  width: 100%;
}

.home-link {
  background-color: rgb(189, 122, 122);
  color: rgb(5, 5, 5);
  float: right;
  padding-right: 15px;
}