.itemHeader, .quantityHeader, .priceHeader, .totalHeader {
    justify-content: center;
    margin-right: 18rem;
}

.cartBar {
    /* width: 100%; */
    height: 20%;
    background-color: lightgrey;
}

/* .productImage, .productQuantity, .productPrice, .totalPrice {
    margin-right: 250px;
    justify-content: center;
} */

.productImage {
    margin-top: 5rem;
    margin-right: 50px;
    margin-left: 20px;
    width:150px;
    height: 150px;
}

.productQuantity {
    margin-top: 5rem;
    margin-right: 50px;
    margin-left: 160px;
    width: 55px;
    height:55px;
}

.productPrice {
    margin-top: 5rem;
    margin-right: 50px;
    margin-left: 260px;
    width: 85px;
    height:85px;
}

.totalPrice {
    margin-top: 5rem;
    margin-left: 220px;
    width: 85px;
    height:85px;
}

.shoppingCart {
    padding-top: 30px;
    padding-bottom: 30px;
}

.checkoutBtn {
    color:indianred;
}